option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: /var/app/current:$PYTHONPATH
    PROD_FLAG: 1
  aws:elasticbeanstalk:container:python:
    WSGIPath: src.app:app
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
  aws:autoscaling:launchconfiguration:
    DisableIMDSv1: true
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:autoscaling:updatepolicy:rollingupdate:
    MinInstancesInService: 0
    RollingUpdateEnabled: false
